body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to left ,rgb(140, 140, 177), rgb(196, 196, 176));
}

div{
    background-color: rgba(255, 255, 255, 0.637);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

button{
    background-color: rgb(120, 122, 121);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}






